{% extends 'home.html' %}

{% block cats %}
  <div class="tab-pane fade show active" id="list-mens" role="tabpanel" aria-labelledby="list-mens-list">
    <h1 class="cat-header">Mens</h1>
    <div class="container cat-container">
      <div class="row cat-row">
        {% for Men in Mens %}
        <div class="col-sm-4 cat-body">
          <img class="cat-img" src="{{MEDIA_URL}}{{ Men.image }}">
          <h5 class="cat-title">{{ Men.title}}</h5>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="list-womens" role="tabpanel" aria-labelledby="list-womens-list">
    <h1 class="catHeader">Womens</h1>
    <div class="container cat-container">
      <div class="row cat-row">
        {% for Women in Womens %}
        <div class="col-sm-4 cat-body">
          <img class="cat-img" src="{{MEDIA_URL}}{{ Women.image }}">
          <h5 class="cat-title">{{ Women.title}}</h5>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="list-unisex" role="tabpanel" aria-labelledby="list-unisex-list">
    <h1 class="catHeader">Unisex</h1>
    <div class="container cat-container">
      <div class="row cat-row">
        {% for Unisex in Unisexs %}
        <div class="col-sm-4 cat-body">
          <img class="cat-img" src="{{MEDIA_URL}}{{ Unisex.image }}">
          <h5 class="cat-title">{{ Unisex.title}}</h5>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="list-extra" role="tabpanel" aria-labelledby="list-extra-list">
    <h1 class="catHeader">Extra</h1>
    <div class="container cat-container">
      <div class="row cat-row">
        {% for Extra in Extras %}
        <div class="col-sm-4 cat-body">
          <img class="cat-img" src="{{MEDIA_URL}}{{ Extra.image }}">
          <h5 class="cat-title">{{ Extra.title}}</h5>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}