{% extends 'base.html' %}
{% block content %}
<!--Main Product-->

{% for product in product_select %}
<div class="container productContainer">
    <h3>
        <a href="/catergories/{{catergory_title.title}}/">{{catergory_title}}'s</a>
        <i class="fa fa-chevron-right" aria-hidden="true" style="color:black; font-size:25px;"></i>
        <a href="/catergories/{{catergory_title.title}}/{{subCatergory.title}}/">{{subCatergory}}</a>
        <i class="fa fa-chevron-right" aria-hidden="true" style="color:black; font-size:25px;"></i>
        {{product.name}}
    </h3>
</div>
<div class="container pip-container">
    <div class="row">
        <div class="col col-md-1">
            
        </div>
        <div class="col-12 col-md-9 pip-name">
            <h1>{{product.name}}</h1>
        </div>
        <div class="col col-md-2">
            
        </div>
    </div>
    <div class="row pip-main-row">
        <div class="col-12">
            <div class="pip-image-main" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
        </div>
    </div>
    <div class="row pip-over-row">
        <div class="col-12 col-md-11 starGroup">
            {% if product.rating == "1/10" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            {% elif product.rating == "2/10" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            {% elif product.rating == "3/10" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            {% elif product.rating == "4/10" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            {% elif product.rating == "5/10" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            {% endif %}
        </div>
    </div>
    <div class="row pip-over-row">
        <div class="col col-md-4">
            <div class="row pip-images-row">
                <div class="col-4 col-md-12">
                    <div class="pip-image-two">
                        <img src="{{ MEDIA_URL }}{{ product.image }}"></img>
                    </div>
                </div>
                <div class="col-4 col-md-12">
                    <div class="pip-image-three">
                        <img src="{{ MEDIA_URL }}{{ product.image }}"></img>
                    </div>
                </div>
                <div class="col-4 col-md-12">
                    <div class="pip-image-four">
                        <img src="{{ MEDIA_URL }}{{ product.image }}"></img>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            
        </div>
        <div class="col col-md-3">
            <div class="row pip-info-row">
                <div class="col-12">
                    <div class="price-container">
                        <p> &#163; {{ product.price}}</p>
                    </div>
                </div>
                <div class="col-12 pip-info-des">
                    <div class="pip-info-des">
                        <h3>Description</h3>
                        <hr class="description">
                        <p class="pip-info-p">{{ product.description }}</p>
                    </div>
                </div>
                <div class="col-12">
                    <select class="size-select">
                    {% for Size in Sizes %}
                    	{% if Size == product.sub_catergory.size %}
                    	    {% for size in Size.option %}
                                <option class="size-option" id="{{size}}" value="{{size}}">
                                    {{size}}
                                </option>
                            {% endfor %}
                    	{% endif %}
                    {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <form method="post" action="{% url 'add_to_cart' product.id %}" class="pip-form">
                    	{% csrf_token %}
                    	<div class="input-group w100 h100">
                    		<input type="number" name="quantity" min="1" max="999" class="form-control h50" placeholder="Quantity">
                    		<span class="input-group-btn w100 h50">
                    			<button class="btn btn-success w100 h100" type="submit">Add</button>
                    		</span>
                    	</div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!--More-Info-->
<div class="jumbotron jumbotron-fluid">
    <div class="container" style="max-width: 90%;">
      <div class="row">
        <h1>Additional Information...</h1>
      </div>
    </div>
</div>

<!--Reviews-->
<div class="jumbotron jumbotron-fluid">
    <div class="container" style="max-width: 90%;">
      <div class="row">
        <h1>Reviews Here...</h1>
      </div>
    </div>
</div>

<!--Similiar-Products-->

<div class="container similar-container">
    <h1 style="text-align: center;">Similar {{subCatergory.title}} In {{catergory_title}}s </h1>
    <div class="row row-flex main similar-row">
        {% for similar in similar_select%}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3 display panel-default similar-panel">
            <a href="/catergories/{{catergory_title.title}}/{{subCatergory.title}}/{{ similar.id }}">
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ similar.image }}')"></div>
                    <div class="product-info">
                        <h3>{{ similar.name }}</h3>
                        <p> &#163; {{ similar.price}}</p>
                    </div>
                    <span class="product-panel-button"><input type="button" value="View Details" class="product-panel-button-details btn btn-warning"></span>
                    <span class="product-panel-button"><input type="button" value="Add To Cart" class="product-panel-button-cart btn btn-success"></span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}



<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
</div>