{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
    <div class="accordion" id="accordionCart">
        <div class="row row-flex">
            {% for item in cart_items %}
            <div class="card" style="width: 100% !important;">
                <div class="card-header" id="heading{{ item.id }}">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapse{{ item.id }}" style="width: 100% !important;">
                    <div class="row">
                        <div class="col-sm-2">
                        <div class="cart-product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="cart-product-name">{{ item.product.name }}</h3>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="cart-product-price">£ {{ item.product.price }}</h3>
                        </div>
                    </div>
                </button>
                </div>
            
                <div id="collapse{{ item.id }}" class="collapse" aria-labelledby="heading{{ item.id }}" data-parent="#accordionCart">
                  <div class="card-body">
                    <p class="product-description">{{ item.product.description}}</p>
                    <form action="{% url 'adjust_cart' item.id %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Qty</div>
                                <input type="number" name="quantity" min="0" max="999" class="form-control" />
                                <div class="input-group-addon">{{item.quantity}}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                    </form> 
                  </div>
                </div>
             </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <p class="Total">Total</p>
        </div>
        <div class="col-sm-4">
            <p><span class="glyphiconglyphicon-euro" aria-hidden="true"></span>£ {{ total }} </p>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'checkout'%}" class="btn btn-success" role="button" style="width: 100%;color: black !important;"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>CheckOut</a>
        </div>
        
    </div>

</div>

{% endblock %}